


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color-adjust: exact !important;                 /* Firefox 48 – 96 */
    print-color-adjust: exact !important;

}
body{
    width: 100vw;
    height: 100vh;
}
@media print{
    body {-webkit-print-color-adjust: exact;}
}
@page {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0;
    -webkit-print-color-adjust: exact;
}

.template{
    width: 100%;
    height: 100%;
    background-image: url("Sans.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

#ref{
    position: absolute;
    top: 5vh;
    right: 70px;
    font-size: 12px;

}

#date{
    position:absolute;
    top: 10%;
    right: 70px;
    font-size: 14px;

}

#title{
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    text-transform: capitalize;
}
#text{
    position: absolute;
    top: 44%;
    width: calc( 100% - 180px );
    text-align: justify;
    left: 50%;
    transform: translateX(-50%);
    line-height: 25px;
    font-family: "Roboto", sans-serif !important;
    font-weight: 100;
    font-style: normal;
}


#sighanture{
    right: 120px;
    bottom: 10%;
    position: absolute;
    text-align: justify;
    width: 10vh;
    font-size: 12px;

}

#object
{
    position: absolute;
    top: 35%;
    left: 70px;
    width: 80%;
    font-family: "Montserrat", sans-serif !important;
    word-break: break-all;
}


#object h3{
    word-wrap: normal;
}


